.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.filtres button {
    margin-right: 10px;
    margin-bottom: 10px; 
    background-color: var(--couleur-background);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.filtres button.active {
    background-color: var(--couleur-primaire);
    color: var(--blanc);
}

.filtres button:hover {
    background-color: var(--couleur-primaire);
    color: var(--blanc);
}

@media only screen and (max-width: 768px) {
    .filtres button {
        margin-right: 0; 
    }
}