.accueil {
  padding: 20px;
}

.accueil p {
  padding-bottom: 10px;
}

.container {
  max-width: 50%;
  overflow: hidden; 
  padding-bottom: 20px;
}

.container img {
  width: 100%;
  border-radius: 8px;
}